/* PAGE STYLING */

body {
  align-items: center;
  background-color: rgb(41, 50, 129);
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: center;
  width: 80vw;
}

path {
  fill: yellow;
}

.animation-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 20vh;
}

.animation {
  height: 300px;
  width: 300px;
  display: flex;
  offset-path: path("M.4 84.1s127.4 188 267.7 0 247.3 0 247.3 0");
  offset-distance: 0;
  animation: move 2000ms infinite alternate;
}

/* ANIMATION STYLING: */

@keyframes move {
  0% {
    offset-distance: 0%;
  }
  100% {
    offset-distance: 100%;
  }
}

/* Tablet */
@media screen and (min-width: 601px) and (max-width: 992px) {
  .animation {
    height: 200px;
    width: 200px;
  }

  @keyframes move {
    0% {
      offset-distance: 0%;
    }
    100% {
      offset-distance: 80%;
    }
  }
}

/* Mobile */
@media screen and (max-width: 600px) {
  .animation {
    height: 100px;
    width: 100px;
  }

  @keyframes move {
    0% {
      offset-distance: 0%;
    }
    100% {
      offset-distance: 50%;
    }
  }
}
